{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div id="main">
		<!-- Post 1 -->
		<article class="post">
			<header>
				<div class="title">
					<h2>{{ post.title }}</h2>
					<h4>{{ post.category }}</h4>
				</div>
				<div class="meta">
					<time class="published" datetime="2015-11-01">{{ post.date }}</time>
					<a href="#" class="author"><span class="name">{{ post.author }}</span><img src="images/avatar.jpg" alt="" /></a>
				</div>
			</header>
			<a href="single.html" class="image featured">
				<a href="single.html" class="image featured"><img src="{{ post.image_url }}" alt="" style="width: 100%; max-width: 800px; height: 400px; object-fit: cover;
                border-radius: 12px; box-shadow: 0 6px 16px rgba(0,0,0,0.1); display: block; margin: 0 auto;" /></a>
			</a>
			<p>{{ post.body|safe }}</p>
			<footer>
				<ul class="stats">
					{% if user.is_authenticated %}
						{% if user.id == post.author.id %}
							<li><a href="{% url 'update_post' post.pk %}">Update Post</a></li>
							<li><a href="{% url 'delete_post' post.pk %}">Delete Post</a></li>
						{% endif %}
					{% endif %}

					<li>
						{% if user.is_authenticated %}
							<form method="POST" action="{% url 'like_Post' post.pk %}">
								{% csrf_token %}
								{% if liked %}
								<button type="submit" name="likes_id" value="{{ post.id }}">
									<i class="fa-solid fa-heart text-danger"></i>
								</button>
								{% else %}
								<button type="submit" name="likes_id" value="{{ post.id }}">
									<i class="fa-solid fa-heart text-primary"></i>
								</button>
								{% endif %}
							{% else %}
							<i class="fa-solid fa-heart text-danger"></i>
							{% endif %}
							{{ total_likes }}
						</form>
					</li>
					<li><a href="#" class="icon solid fa-comment">128</a></li>
				</ul>
			</footer>
		</article>
    </div>
{% endblock %}