{% extends 'index.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="form-group">
        <form method="POST" class="p-4 shadow rounded bg-light">
        {% csrf_token %}
        <h1>Are you sure you want to delete : "{{ post.title }}" ? </h1>
        <div class="text-center">
            <button class="btn btn-danger px-4 py-2 rounded-pill shadow-sm "><i class="fas fa-trash-alt">Delete</i></button>
        </div>
    </form>
    </div>
</div>
{% else%}
<h1>Log in to view page </h1>
{% endif %}
{% endblock %}