{% extends 'index.html' %}
{% load static %}
{% block content %}
    	<!-- Main -->
	<div id="main">
	{% for post in object_list %}
		<!-- Post 1 -->
		<article class="post">
			<header>
				<div class="title">
					<h2>{{ post.title }}</h2>
					<h4>{{ post.category }}</h4>
				</div>
				<div class="meta">
					<time class="published" datetime="2015-11-01">{{ post.date }}</time>
					<a href="#" class="author"><span class="name">{{ post.author.first_name }} {{ post.author.last_name }}</span><img src="{{ post.author.profile.profile_url }}" alt="" /></a>
				</div>
			</header>
			<a href="single.html" class="image featured">
				<a href="single.html" class="image featured"><img src="{{ post.image_url }}" alt="" style="width: 100%; max-width: 800px; height: 400px; object-fit: cover;
                border-radius: 12px; box-shadow: 0 6px 16px rgba(0,0,0,0.1); display: block; margin: 0 auto;" /></a>
			</a>
			<p>{{ post.body|safe|truncatechars_html:50 }}</p>
			<footer>
				<ul class="actions">
					<li><a href="{% url 'article_page' post.pk %}" class="button large">Continue Reading</a></li>
				</ul>
				<ul class="stats">
					{% if user.is_authenticated %}
						{% if user.id == post.author.id %}
							<li><a href="{% url 'update_post' post.pk %}">Update Post</a></li>
							<li><a href="{% url 'delete_post' post.pk %}">Delete Post</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</footer>
		</article>
	{% endfor %}

		<!-- Pagination -->
		<ul class="actions pagination">
			<li><a href="#" class="disabled button large previous">Previous Page</a></li>
			<li><a href="#" class="button large next">Next Page</a></li>
		</ul>

		<section class="blurb">
			<h2>About</h2>
			<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</section>
	</div>

{% endblock %}